.header-bg{
  background: rgb(158,9,242);
  background: linear-gradient(121deg, rgba(158,9,242,1) 22%, rgba(51,0,80,1) 100%);
}

.vid{
  border-radius: 2rem;
  box-shadow: black;
}

.card.nb{
  border: none !important;
  bottom: -7rem;
  background-color: rgba(255, 255, 255, 0);
}


.card-body{
  margin-bottom: -1rem;
}
.bg-purp{
  background-color: #9e09f2;
}
.btn-1 {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 75%;
}

.btn-color{
  background: rgb(158,9,242);
  background: linear-gradient(121deg, rgba(158,9,242,1) 22%, rgba(51,0,80,1) 100%);
  color: #f4f4f4;
  text-shadow: black 1px;
}

.btn-color2{
  background-color: magenta;
}

.break{
  background-color: #9e09f2;
  height: 1vh;

}

footer{
  background-color: darkslategray;
  height: 7vh;
}

.bg-slate{
  background-color: darkslategray;
}